@lightRed:   #fdd;
@lightGreen: #dfd;
@lightBlue:  #ddf;

@defaultThemeColor:@lightRed;

.shape {
  display:inline-block;
  width:200px;
  height:200px;
  float: left;
  background:@defaultThemeColor;
  border-top: 1px dotted gray;
  margin:20px;
}
.Round {
  -webkit-border-radius:9999px;
  -moz-border-radius:9999px;
  border-radius:9999px;
}
#shape1 {
  .Round;
}


